head
	meta(charset='utf-8')
	title FailArchive
	meta(name='viewport' content='width=device-width')
	link(
	href='http://fonts.googleapis.com/css?family=Kreon:400,700'
	rel='stylesheet'
	)
	link(rel='stylesheet' href='/styles/screen.css')
