doctype html
html
	include head
	body
		#wrapper
			header
				h1: a(href='/') Fail
					span Archive
				button() Submit a Fail
			block content
			
			footer
				p= 'For feedback contact us at '
					a(href='mailto:info@failarchive.com') info@failarchive.com

		block scripts