fontColor = rgb(50, 50, 50)
wrapperWidth = 820px

*
	margin 0
	padding 0
	border 0
	box-sizing border-box

body
	width 100%
	font-size 16px
	font-family Helvetica, sans-serif
	background-color rgb(230, 230, 230)
	color fontColor

a
	cursor pointer

.info
	background-color rgb(220, 242, 249)
	border 1px solid darken(lightblue, 10%)
	border-radius 2px
	color darken(lightblue, 60%)
	padding 1em 2em
	text-align center
		
.fail
	border-bottom 1px solid rgb(230, 230, 230)
	padding-top 2em
	padding-bottom 2em
	h2
		margin-bottom 0.5em
		a
			text-decoration none
			color inherit
			&:hover
				text-decoration underline

button,
input[type=submit]
	font-weight 500
	padding 0.5em 1em
	border-radius 0.2em

#wrapper
	background-color white
	width 100%

main
	padding 0 2em 2em 2em

header
	text-align center
	position relative
	padding 1em 2em
	h1
		font-family Kreon, sans-serif
		font-weight 700
		margin-bottom 1rem
		a
			text-decoration none
			color fontColor
		span
			color rgb(160, 0, 0)
	button
		position absolute
		right 1em

form
	display inline-block
	vertical-align text-bottom
	select
		width 23em
	input[type=submit]
		border 1px solid rgb(170, 170, 170)
		background-color rgb(238, 238, 238)
		background-image linear-gradient(
			rgb(244, 244, 244) 20%,
			rgb(240, 240, 240) 50%,
			rgb(232, 232, 232) 52%,
			rgb(238, 238, 238) 100%
		)
		cursor pointer
		padding 0.65em 1em

.chosen-container
	margin-right 0.5em
	margin-bottom 0.5em
	vertical-align top
	ul
		border-radius 0.2em !important
	span
		text-transform capitalize


.video
	> div
		position relative
		padding-bottom 75%
		height 0px

	iframe,
	img
		position absolute
		top 0px
		left 0px
		width 100%
		height 100%

progress
	background-color green
	border-radius 2px
	

.comments
	margin-top 40px

footer
	text-align center
	padding 3em 0

@media screen and (min-width wrapperWidth)
	header
		text-align left
		h1
			display inline-block
			margin-right 1em
			margin-bottom 0
		.chosen-container
			margin-bottom 0

	#wrapper
		width wrapperWidth
		margin 0 auto
