fontColor = rgb(50, 50, 50)

*
	margin 0
	padding 0
	border 0
	box-sizing border-box

body
	width 100%
	font-size 16px
	font-family Helvetica, sans-serif
	background-color rgb(230,230,230)
	color rgb(50, 50, 50)

a
	cursor pointer

h1
	display inline-block
	font-family Kreon, sans-serif
	font-weight 700
	margin-right 1em
	a
		text-decoration none
		color fontColor
	span
		color rgb(160,0,0)

.fail
	padding-top 2em
	padding-bottom 2em
	h2 a
		text-decoration none
		color inherit
		&:hover
			text-decoration underline

button,
input[type=submit]
	font-weight 500
	padding 0.5em 1em
	border-radius 0.2em

#wrapper
	background-color white
	width 100%

main
	padding 0 2em 2em 2em

header
	position relative
	padding 1em 2em
	h1
		display inline-block
	button
		position absolute
		right 1em

form
	display inline-block
	vertical-align text-bottom
	select
		width 25em
	input[type=submit]
		border 1px solid rgb(170, 170, 170)
		background-color rgb(238, 238, 238)
		background-image linear-gradient(
			rgb(244, 244, 244) 20%,
			rgb(240, 240, 240) 50%,
			rgb(232, 232, 232) 52%,
			rgb(238, 238, 238) 100%
		)
		cursor pointer
		padding 0.65em 1em

.chosen-container
	padding-right 0.5em
	ul
		border-radius 0.2em !important
	span
		text-transform capitalize

.video
	max-width: 50vw

.video > div
	position: relative
	padding-bottom: 75%
	height: 0px

.video iframe,
.video img
	position: absolute
	top: 0px
	left: 0px
	width 100%
	height 100%

.fail
	border-bottom 1px solid rgb(230, 230, 230)
	h2
		margin-bottom 0.5em

footer
	text-align center
	padding 3em 0

//@media screen and (min-width 600px)


@media screen and (min-width 860px)
	#wrapper
		width 860px
		margin 0 auto
